<!DOCTYPE html>
<html lang="en">
    <head>
      <%- include('head') %>
      <title>เข้าสู่ระบบโดยผู้ดูแลระบบ</title>
    </head>
    <body>
        <%- include('navbar') %>
        <div class="container">
            <div class="row my-3">
                <div class="col-md-8 mb-4">
                    <form class="form-horizontal" method="POST" action="/login">
                        <div class="form-group">
                          <label class="control-label col-sm-2 m-2">Username</label>
                          <div class="col-sm-10">
                            <input type="text" class="form-control m-2" name="username">
                          </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2 m-2">Password</label>
                            <div class="col-sm-10">
                              <input type="password" class="form-control m-2" name="password">
                            </div>
                        </div>
                        <div class="form-group">
                          <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-primary m-2">เข้าสู่ระบบ</button>
                          </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
