<nav class="navbar navbar-expand-md navbar-light bg-dark">
  <a href="/" class="navbar-brand"
    ><img src="images/home/gunkan.png" class="ms-4 w-50"
  /></a>
  <ul class="navbar-nav">
    <li class="nav-item dropdown">
      <a
        class="nav-link dropdown-toggle text-light text-uppercase font-weight-bold px-3"
        href="#"
        id="navbarDropdownMenuLink"
        role="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        ระบบหลังบ้าน
      </a>
      <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <li><a class="dropdown-item" href="/manage">จัดการสินค้า</a></li>
        <li><a class="dropdown-item" href="/add-product">บันทึกสินค้า</a></li>
      </ul>
    </li>
  </ul>
</nav>
